body {
    background-color: #fafafa!important;
}

html {
    overflow-y: scroll;
}

.hide {
    display: none;
}

.no-categories {
    margin-top:25px;
    text-align:center;
}

.no-categories i {
    font-size:100px;
}

.title-app {
    font-size: 24px;
    margin-bottom: 0;
}

.logo-img {
    text-align: center;
    width: auto;
    margin: 5% auto;
}

.general-text {
    color: #364756;
    font-family: "OpenSans", sans-serif;
}

.logo-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.header-div {
    padding: 10px;
    background-color: #364756;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}

.logo {
    width: 30%;
}

.button-blue-border {
    width: 100%;
    min-height: 40px;
    background-color: white;
    color: #05aeda;
    border: 2px solid #05aeda;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-blue {
    width: 100%;
    min-height: 40px;
    background-color: #05aeda;
    color: white;
    border: 2px solid #05aeda;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-blue-border:hover {
    cursor: pointer;
    background-color: #05aeda14;
}

.button-grey {
    min-height: 40px;
    background-color: white;
    color: #aaaaaa;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    font-weight: 400;
}

.button-grey i {
    padding: 10px;
}

.button-blue-border:hover {
    cursor: pointer;
    background-color: #05aeda14;
}

.title-labels {
    font-size: 16px;
    font-weight: 700;
}

.no-subcategories {
    font-size: 13px;
}

.container-category-box {
    padding: 10px 5px 10px 5px;
}

.container-category {
    border: 1px solid #354856;
    height: 100%;
}

.container-category-header {
    background-color: #354856;
    padding: 5px 10px 5px 10px;
    margin: 0;
    color: white;
}

.container-category-body {
    padding: 5px 10px 5px 10px;
    height: 275px;
    overflow-y: scroll;
    background-color:white;
}

.category-title {
    font-size: 18px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.category-icons {
    padding: 0;
    text-align: right;
}

.reset-row {
    text-align:right;
}

.icon-calendar {
    color: #354856c7;
}

.category-icons i {
    padding: 0 5px 0 5px;
}

.category-icons i:hover {
    color: #05aeda;
    cursor: pointer;
}

.titles {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.save-category {
    margin-top: 30px;
}

.input-field {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #354856;
    border-radius: 4px;
}

.row-margin {
    margin-top: 20px;
}

.row-buttons {
    margin-top: 50px;
}

.row-categories {
    margin: 20px 0 0 0;
}

.select2-selection--multiple {
    border: 1px solid #354856!important;
}

.select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #354856!important;
    color: white;
}

.select2-container {
    width: 100%!important;
}

.search-row {
    margin: 25px 0 0 0;
}

.search-input {
    padding: 0;
}

.delete-filter {
    font-size: 13px;
    padding-left: 5px;
}

.delete-filter i {
    padding-right: 5px;
}

.delete-filter:hover {
    cursor: pointer;
    text-decoration: underline;
}

.search-row input[type=text] {
    height: 40px;
    font-size: 14px;
    border: 1px solid #364756;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 4px 0 0 4px;
    padding-left: 10px;
}

.search-row button {
    float: left;
    width: 20%;
    height: 40px;
    background: #05aeda;
    color: white;
    font-size: 14px;
    border: 1px solid #364756;
    border-left: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search-row button:hover {
    background: #05aeda;
}

.search-row::after {
    content: "";
    clear: both;
    display: table;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #aaaaaa;
    -webkit-box-shadow: 0 0 1px #aaaaaa;
}